<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
   <img alt="Tetris Project" src="/assets/img/tetris_proj.jpg">
 </div>
  <div class="contents">
    <h3> Tetris AI Game </h3>
    <ul>
      <li> Java </li>
      <li> AI </li>
      <li> Gave Development </li>
    </ul>
    <p>
      Tetris game that uses Artificial Intelligence to make real-time optimal moves using custom heuristics.
    <p>
    <p>I built a playable Tetris game where user can have AI can take over via a toggle feature and make intelligent decisions. The AI evaluates board states using heuristics such as minimizing gaps, reducing stack height, and maximizing line clears.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="minecraft screenshot" src="{{ "/assets/img/simple_minecraft screenshot (1).jpg" | prepend: site.baseurl }}" />
  </div>

  <div class="contents-right">
    <h3> simple_minecraft (Python + Ursina) </h3>
    <ul>
      <li> Python </li>
      <li> Ursina </li>
      <li> 3D Graphics </li>
    </ul>
    <p>
      Built a Minecraft-style sandbox game using Python and the Ursina game engine. This game features first-person movement and block placement/removal.
      I also generated a simple terrain and enabled interactive building controls.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
   <img alt="chatbot ss"
     src="/assets/img/chatbot_ss.png"
     style="width: 100%; max-width: 650px;">
 </div>
  <div class="contents-right">
    <h3> Cloud-Based Chatbot Application </h3>
    <ul>
      <li> Python </li>
      <li> Flask </li>
      <li> Docker </li>
      <li> Kubernetes </li>
      <li> MariaDB </li>
      <li> Rancher </li>
    </ul>
    <p> Deployed a Flask-based chatbot on a Kubernetes cluster managed through Rancher using containerized microservices. Handled user input and chatbot responses through the implementation of a custom Alpine-based image for the SQL database.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
