<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
   <img alt="Tetris Project" src="/assets/img/tetris_proj.jpg">
 </div>
  <div class="contents">
    <h3> Tetris AI (Java) </h3>
    <p>
      Tetris game that uses Artificial Intelligence to make real-time optimal moves using custom heuristics.
    <p>
    <p>I built a playable Tetris game where user can have AI can take over via a toggle feature and make intelligent decisions. The AI evaluates board states using heuristics such as minimizing gaps, reducing stack height, and maximizing line clears.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="minecraft screenshot" src="{{ "/assets/img/simple_minecraft screenshot (1).jpg" | prepend: site.baseurl }}" />
  </div>

  <div class="contents-right">
    <h3> simple_minecraft (Python + Ursina) </h3>
    <p>
      Built a Minecraft-style sandbox game using Python and the Ursina engine. This game features first-person movement and block placement/removal.
      I also generated a simple terrain and enabled interactive building controls.
    </p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
<div class="user-projects">
  <div class="images-right">
    <img alt="chatbot ss" src="/assets/img/chatbot_ss.png">
  </div>

  <div class="contents-right">
    <h3> Cloud-Based Chatbot Application (Python + Docker + Kubernetes) </h3>

    <p>
      Deployed a Flask-based chatbot on a Kubernetes cluster using containerized
      microservices. The system stores chatbot responses in a MariaDB database
      and runs inside Docker containers managed through Rancher.
    </p>

    <a class="project-link" href="https://gmaharjan42.discovery.cs.vt.edu">
      Check it out
    </a>

  </div>
</div>
